<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.addsensor.CameraMap">
	<compatible-screens>
		<screen android:screenSize="small" android:screenDensity="ldpi" />
		<screen android:screenSize="small" android:screenDensity="mdpi" />
		<screen android:screenSize="small" android:screenDensity="hdpi" />
		<screen android:screenSize="small" android:screenDensity="xhdpi" />
		<screen android:screenSize="normal" android:screenDensity="ldpi" />
		<screen android:screenSize="normal" android:screenDensity="mdpi" />
		<screen android:screenSize="normal" android:screenDensity="hdpi" />
		<screen android:screenSize="normal" android:screenDensity="xhdpi" />
		<screen android:screenSize="large" android:screenDensity="ldpi" />
		<screen android:screenSize="large" android:screenDensity="mdpi" />
		<screen android:screenSize="large" android:screenDensity="hdpi" />
		<screen android:screenSize="large" android:screenDensity="xhdpi" />
	</compatible-screens>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.CAMERA" android:required="false" />
    <uses-feature android:name="android.hardware.CAMERA.AUTOFOCUS" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-feature android:name="android.hardware.location.gps" />
	<uses-feature android:name="android.hardware.location.network" />
	<uses-feature android:name="android.hardware.location" />

	<application android:icon="@mipmap/ic_launcher" android:allowBackup="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZWT-VsNLsLHNdJPt6t5AL1_FzC2DCSJ0"/>
        <activity android:name=".Login" android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <type android:value=".CameraMap" />
            </intent-filter>
        </activity>
		<activity android:name=".CameraMap" android:label="@string/map">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".Form" android:label="@string/form">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<type android:value=".CameraMap" />
			</intent-filter>
		</activity>
		<activity android:name=".CameraAR" android:label="@string/cameraAR">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<type android:value=".CameraMap" />
			</intent-filter>
		</activity>
    </application>
</manifest>